.attribution {
    padding: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    max-width: 1440px;
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
}

.wrapper {
    display: grid;
    max-width: 60%;
    margin: auto;
    grid-template-columns: auto auto auto;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.col1 {
    min-height: 30em;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    background-color: hsl(31, 77%, 52%);
}

.col2 {
    background-color: hsl(184, 100%, 22%);
}

.col3 {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: hsl(179, 100%, 13%);
}

.car-icon {
    padding-top: 2em;
    padding-left: 2em;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 0.75em;
    padding-left: 0.75em;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
}

.info {
    line-height: 1.8em;
    padding: 2em;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1em;
    padding: 1em 2em;
    margin: 2em;
    border-radius: 2em;
    border: none;
    text-align: center;
    transition-duration: .3s;
}

button:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 95%, 0.756);
    box-shadow: .2em .2em .6em rgba(0, 0, 0, 0.2);
}

.cta-btn1 {
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
}

.cta-btn2 {
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
}

.cta-btn3 {
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
}