.attribution { 
    padding-top: 2em;
    font-size: .8rem; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

*  {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
}

.card {
    max-width: 20em;
    padding: 1em;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0em .1em .5em rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    border-radius: .5em;
}

.card-title {
    text-align: center;
    margin: 1em 0;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 1rem;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    color: hsl(220, 15%, 55%);
}